<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<footer class="w-full bg-black text-white font-poppins py-10">
    <div class="container mx-auto flex flex-col items-center px-4">
        <p class="text-sm mb-6 text-center">
            Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis dan
            Mengatasi Tantangan Ekonomi.
        </p>

        <div class="flex space-x-6 mb-4 justify-center">
            <a href="#tentang-kami" class="text-white hover:text-red-400"
                >Tentang Kami</a
            >
            <a href="#" class="text-white hover:text-red-400"
                >Kebijakan Privasi</a
            >
            <a href="#" class="text-white hover:text-red-400">Kontak</a>
        </div>

        <!-- Social Media Icons Section -->
        <div class="flex space-x-4 justify-center mb-4">
            <a href="#" class="text-white hover:text-red-400">
                <i class="fab fa-facebook-f h-6 w-6"></i>
            </a>
            <a href="#" class="text-white hover:text-red-400">
                <i class="fab fa-twitter h-6 w-6"></i>
            </a>
            <a href="#" class="text-white hover:text-red-400">
                <i class="fab fa-instagram h-6 w-6"></i>
            </a>
        </div>

        <p class="text-xs mt-6 text-center">
            &copy; 2024 PovertyLens. All rights reserved.
        </p>
    </div>
</footer>
