<style>
    .navbar {
        z-index: 3000;
    }
</style>

<nav
    class="navbar sticky top-4 md:w-4/5 md:px-10 bg-[#f4f4f4] py-2 px-5 rounded-3xl shadow-lg flex items-center justify-between md:justify-center space-x-4 font-poppins mx-auto z-10"
>
    <div class="hidden md:flex w-40 justify-center">
        <a
            href="{{ url_for('index') }}"
            class="text-black hover:text-gray-700 {% if request.path == '/' %}font-bold{% endif %}"
        >
            Beranda
        </a>
    </div>
    <div class="hidden md:flex w-40 justify-center">
        <a
            href="{{ url_for('pindaiWilayah') }}"
            class="text-black hover:text-gray-700"
            >Pindai Wilayah</a
        >
    </div>
    <div class="flex items-center justify-center">
        <img
            src="/static/images/logocolorful.svg"
            alt="PovertyLens"
            class="h-15 w-15"
        />
    </div>
    <div class="hidden md:flex w-40 justify-center">
        <a
            href="{{ url_for('dtLembaga') }}"
            class="text-black hover:text-gray-700 {% if request.path == url_for('dtLembaga') or '/detail-lembaga' in request.path %}font-bold{% endif %}"
        >
            Daftar Lembaga
        </a>
    </div>
    <div class="hidden md:flex w-40 justify-center">
        <a href="#" class="text-black hover:text-gray-700">Rekap Data</a>
    </div>

    <!-- Tombol Menu untuk Mobile -->
    <div class="md:hidden ml-4">
        <button id="menu-toggle" class="focus:outline-none">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 text-black"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"
                />
            </svg>
        </button>
    </div>
</nav>
