<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Detail Lembaga - PovertyLens</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/onlylogo-colorful.svg"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            href="{{ url_for('static', filename='css/output.css') }}"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100 font-poppins">
        {% include 'partials/navbar.html' %}

        <!-- Detail Lembaga -->
        <section class="p-6 bg-white px-6 sm:px-10 lg:px-20 pt-20">
            <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg p-8">
                <a
                    href="{{ url_for('dtLembaga') }}"
                    class="flex items-center mb-6 text-blue-500 hover:text-blue-600 transition-all"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5 mr-2"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 12H3m0 0l6-6m-6 6l6 6"
                        />
                    </svg>
                    Kembali
                </a>

                <div class="flex items-center mb-6">
                    <img
                        src="{{ detail.logo_url }}"
                        alt="{{ detail.nama }}"
                        class="w-24 h-auto mr-4 rounded-md shadow-lg"
                    />
                    <h1 class="text-3xl font-semibold text-gray-800">
                        {{ detail.nama }}
                    </h1>
                </div>

                <!-- Informasi Lembaga -->
                <div class="space-y-4 text-gray-700">
                    <p>
                        <strong>Alamat Kantor:</strong> {{ detail.alamat_kantor
                        }}
                    </p>
                    <p><strong>Telepon:</strong> {{ detail.telepon }}</p>
                    <p><strong>Email:</strong> {{ detail.email }}</p>
                    <p>
                        <strong>Website Resmi:</strong>
                        <a
                            href="{{ detail.web_resmi }}"
                            class="text-blue-500 hover:text-blue-600 transition-all"
                            >{{ detail.web_resmi }}</a
                        >
                    </p>
                    <p><strong>Deskripsi:</strong> {{ detail.deskripsi }}</p>
                    <p>
                        <strong>Informasi Tambahan:</strong> {{ detail.informasi
                        }}
                    </p>
                </div>
            </div>
        </section>

        <footer class="w-full bg-black text-white font-poppins py-10 mt-10">
            <div class="container mx-auto flex flex-col items-center px-4">
                <p class="text-sm mb-6 text-center">
                    Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis
                    dan Mengatasi Tantangan Ekonomi.
                </p>

                <div class="flex items-center justify-center">
                    <img
                        src="/static/images/logocolorful.svg"
                        alt="PovertyLens"
                        class="h-15 w-15"
                    />
                </div>
                <div class="flex space-x-4 justify-center mb-4">
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-facebook-f h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-twitter h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-instagram h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-linkedin-in h-6 w-6"></i>
                    </a>
                </div>

                <!-- Copyright -->
                <p class="text-xs mt-6 text-center">
                    &copy; 2024 PovertyLens. All rights reserved.
                </p>
            </div>
        </footer>

        <div id="bubble-icon" class="bubble-icon">
            <img src="/static/images/robot.png" alt="Chat" />
        </div>

        <!-- Chat Room -->
        <div id="chat-room" class="chat-room hidden-chat">
            <div
                class="chat-header bg-orange-600 text-white p-3 rounded-t-lg flex justify-between items-center"
            >
                <h3>Chat dengan Kami</h3>
            </div>
            <div class="chat-body" id="chat-body">
                <p
                    class="chatbot-message bg-gradient-to-r from-orange-500 to-yellow-500 text-white p-2 mb-2 rounded-lg max-w-[80%]"
                >
                    Selamat datang di PovertyLens! Ada yang bisa kami bantu?
                </p>
            </div>
            <div class="chat-footer">
                <input
                    type="text"
                    id="chat-input"
                    placeholder="Ketik pesan..."
                />
                <button onclick="sendMessage()">Kirim</button>
            </div>
        </div>

        <script>
            document
                .getElementById("bubble-icon")
                .addEventListener("click", function () {
                    var chatRoom = document.getElementById("chat-room")
                    chatRoom.classList.toggle("hidden-chat")
                })
            document
                .getElementById("chat-input")
                .addEventListener("keypress", function (e) {
                    if (e.key === "Enter") {
                        sendMessage()
                    }
                })

            document
                .getElementById("close-chat")
                .addEventListener("click", function () {
                    document.getElementById("chat-room").classList.add("hidden")
                })

            function sendMessage() {
                const chatBody = document.getElementById("chat-body")
                const userInput = document.getElementById("chat-input").value

                if (userInput) {
                    const userDiv = document.createElement("div")
                    userDiv.className = "flex justify-end"
                    userDiv.innerHTML = `
                        <div class="bg-gradient-to-r from-neutral-400 to-stone-300 text-black p-3 rounded-lg max-w-[80%]">
                            ${userInput}
                        </div>
                    `
                    chatBody.appendChild(userDiv)

                    fetch(
                        `/send_message?msg=${encodeURIComponent(userInput)}`,
                        {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        },
                    )
                        .then((response) => response.text())
                        .then((data) => {
                            const botDiv = document.createElement("div")
                            botDiv.className = "flex justify-start"
                            botDiv.innerHTML = `
                            <div class="bg-gradient-to-r from-orange-500 to-yellow-500 text-white p-3 rounded-lg max-w-[80%]">
                                ${data}
                            </div>
                        `
                            chatBody.appendChild(botDiv)
                            chatBody.scrollTop = chatBody.scrollHeight
                        })
                        .catch((error) => {
                            console.error("Error:", error)
                            const errorDiv = document.createElement("div")
                            errorDiv.className = "flex justify-start"
                            errorDiv.innerHTML = `
                            <div class="bg-red-100 text-red-600 p-3 rounded-lg max-w-[80%]">
                                Maaf, terjadi kesalahan. Silakan coba lagi.
                            </div>
                        `
                            chatBody.appendChild(errorDiv)
                        })

                    document.getElementById("chat-input").value = ""
                }
            }
        </script>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>
</html>
