<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            href="{{ url_for('static', filename='css/output.css') }}"
            rel="stylesheet"
        />
        <title>PovertyLens - Map Of Poor Areas</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/onlylogo-colorful.svg"
        />
    </head>
    <body>
        {% include 'partials/navbar.html' %}

        <!-- Landing Page -->
        <section
            class="w-full h-full justify-center text-center flex bg-gradient-to-b from-gray-400 to-white absolute top-0"
        >
            <div
                class="relative w-[40rem] font-poppins group py-[13rem] flex flex-col items-center"
            >
                <h1 class="text-black font-bold text-5xl">
                    Map Of Poor Areas with
                </h1>
                <h1 class="text-red-600 font-bold text-6xl">PovertyLens</h1>
                <p class="text-black text-base font-semibold text-center pt-5">
                    Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis
                    dan Mengatasi Tantangan Ekonomi, Mewujudkan Kehidupan yang
                    Lebih Baik bagi Semua.
                </p>

                <div class="pt-4">
                    <a
                        href="{{ url_for('pindaiWilayah') }}"
                        class="flex items-center space-x-2 bg-black hover:bg-red-600 px-8 py-3 rounded-full"
                    >
                        <h1 class="text-white text-sm font-semibold">
                            Pindai Wilayah
                        </h1>
                        <img
                            src="/static/images/iconpindai.svg"
                            class="h-5 w-5"
                        />
                    </a>
                </div>
            </div>
        </section>

        <section
            class="py-[15rem] justify-center text-left px-40 bg-gradient-to-b from-gray-200 to-white font-poppins mt-[150px]"
        ></section>

        <section
            class="justify-center text-left px-40 bg-gradient-to-b from-gray-200 to-white font-poppins mt-[150px]"
        >
            <h1 class="text-center text-black font-bold text-2xl pt-4">
                Persentase Penduduk Miskin
            </h1>
            <h1 class="text-center text-red-400 font-bold text-2xl">
                Kota Tegal
            </h1>
            <div>
                <canvas id="kemiskinanChart" width="400" height="200"></canvas>
            </div>
        </section>

        <section
            class="py-[15rem] justify-center text-left px-40 bg-gradient-to-b from-gray-200 to-white font-poppins"
        >
            <img src="/static/images/logofixblack.svg" alt="" class="pb-5" />
            <h1 class="text-black">
                Sebuah inisiatif pemetaan kemiskinan berbasis teknologi yang
                dirancang untuk menganalisis, memetakan, dan mengatasi berbagai
                tantangan ekonomi yang dihadapi oleh masyarakat kurang mampu.
                Dengan memanfaatkan data terkini, alat analitik yang canggih,
                serta teknologi pemetaan visual, Poverty Lens memberikan
                gambaran yang jelas dan mendalam mengenai kondisi kemiskinan di
                berbagai wilayah. Melalui pendekatan ini, program ini bertujuan
                untuk memberikan wawasan yang lebih baik kepada para pembuat
                kebijakan, organisasi non-pemerintah, serta pemangku kepentingan
                lainnya, dalam upaya merancang strategi intervensi yang lebih
                efektif dan tepat sasaran. Tujuan akhirnya adalah mewujudkan
                kehidupan yang lebih sejahtera dan berkeadilan bagi seluruh
                lapisan masyarakat, tanpa terkecuali.
            </h1>
        </section>

        <section
            class="py-[8rem] justify-center text-center px-40 bg-gradient-to-b from-gray-200 to-white font-poppins"
        >
            <h1 class="text-black font-bold text-2xl">
                Bagaimana sih Fitur AI
            </h1>
            <h1 class="text-red-400 font-bold text-2xl">PovertyLens</h1>

            <h1 class="text-black pt-4">
                Fitur utama dari Poverty Lens adalah kemampuan untuk mengunggah
                gambar tangkapan layar (screenshot) peta atau maps yang disertai
                dengan teks pertanyaan dari pengguna. Fitur ini memanfaatkan
                teknologi kecerdasan buatan (AI) untuk menganalisis peta atau
                gambar yang diunggah dan menjawab pertanyaan yang diajukan.
                Pengguna dapat mengirimkan peta yang menunjukkan wilayah
                tertentu atau area spesifik yang mereka ingin pelajari lebih
                lanjut, baik itu terkait tingkat kemiskinan, kondisi
                infrastruktur, akses terhadap layanan publik, atau tantangan
                ekonomi lainnya.

                <br />
                <br />

                Setelah gambar dan pertanyaan diterima, AI dalam sistem Poverty
                Lens akan mengolah data tersebut, memeriksa tren, pola, dan data
                relevan lainnya untuk memberikan jawaban yang informatif dan
                tepat sasaran. Dengan adanya fitur ini, Poverty Lens
                memungkinkan pengguna untuk memperoleh pemahaman yang lebih
                mendalam mengenai dinamika kemiskinan dan isu-isu terkait di
                wilayah yang ditentukan, sehingga dapat membantu pengambilan
                keputusan berbasis data untuk intervensi sosial dan kebijakan
                yang lebih efektif.
            </h1>
        </section>

        <section
            class="py-[5rem] justify-center text-center px-40 bg-gradient-to-b from-gray-200 to-white font-poppins"
        >
            <h1 class="text-black font-bold text-2xl">
                Terus cara pakai Fitur AI
            </h1>
            <h1 class="text-red-400 font-bold text-2xl">PovertyLens gimana?</h1>

            <div class="flex flex-col items-center mt-5 text-sm">
                <h1
                    class="bg-red-200 m-3 px-5 rounded-full py-4 text-black pt-4"
                >
                    Siapkan screenshot peta atau maps yang ingin kamu tanyakan,
                    beserta pertanyaannya.Misalnya, mau tahu tentang
                    <br />kondisi ekonomi suatu wilayah? Siapkan deh!
                </h1>
                <h1
                    class="bg-red-200 m-3 px-5 rounded-full py-4 text-black pt-4"
                >
                    Upload file screenshot dan ketik pertanyaanmu di kolom yang
                    tersedia.
                </h1>
                <h1
                    class="bg-red-200 m-3 px-5 rounded-full py-4 text-black pt-4"
                >
                    Setelah itu, AI kita yang super canggih bakal menganalisis
                    pertanyaan kamu dan hasilnya langsung muncul dalam sekejap!
                    🎯
                </h1>
                <h1
                    class="bg-red-200 m-3 px-5 rounded-full py-4 text-black pt-4"
                >
                    Gampang kan? Kamu tinggal duduk manis sambil nunggu
                    jawabannya keluar.
                </h1>
                <h1
                    class="bg-red-200 m-3 px-5 rounded-full py-4 text-black pt-4 w-[28rem]"
                >
                    Selamat Mencoba dari Mimin Ganteng 😎
                </h1>
            </div>
        </section>
        <section
            class="py-[5rem] justify-center text-center px-40 bg-gradient-to-b from-gray-200 to-white font-poppins"
        >
            <h1 class="text-black font-bold text-2xl mb-4">
                Komentar Pengguna
            </h1>

            <div class="mt-10">
                <div class="mt-4 space-y-6">
                    {% for ulasan_data in ulasan_data %}
                    <div
                        class="bg-white p-4 rounded-md border border-gray-300 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out"
                    >
                        <div class="flex justify-between items-start">
                            <p class="text-base text-gray-700 flex-1">
                                {{ ulasan_data.ulasan }}
                            </p>
                            <p class="text-sm text-gray-500 ml-4">
                                {{ ulasan_data.created_at.strftime('%d %b %Y,
                                %H:%M') }}
                            </p>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-gray-500 text-center">Belum ada ulasan.</p>
                    {% endfor %}
                </div>
            </div>

            <form
                action="{{ url_for('add_ulasan') }}"
                method="POST"
                class="w-full max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md"
            >
                <label
                    for="ulasan"
                    class="block mt-4 text-sm font-semibold text-gray-700"
                    >Komentar</label
                >
                <textarea
                    id="ulasan"
                    name="ulasan"
                    required
                    rows="4"
                    class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600"
                    placeholder="Tulis komentar Anda"
                ></textarea>
                <button
                    type="submit"
                    class="w-full mt-6 py-2 bg-black text-white font-semibold rounded-full hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600"
                >
                    Kirim Komentar
                </button>
            </form>
        </section>

        {% include 'partials/footer.html' %}

        <!-- Bubble Icon -->
        <div id="bubble-icon" class="bubble-icon">
            <img src="/static/images/cs.png" alt="Chat" />
        </div>

        <!-- Chat Room -->
        <div id="chat-room" class="chat-room hidden-chat">
            <div class="chat-header">
                <h3>Chat dengan Kami</h3>
                <button id="close-chat" class="close-btn">X</button>
            </div>
            <div class="chat-body" id="chat-body">
                <p class="chatbot-message">
                    Selamat datang di PovertyLens! Ada yang bisa kami bantu?
                </p>
            </div>
            <div class="chat-footer">
                <input
                    type="text"
                    id="chat-input"
                    placeholder="Ketik pesan..."
                />
                <button onclick="sendMessage()">Kirim</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            window.onload = function() {
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            if (category == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Berhasil!',
                                    text: '{{ message }}',
                                    confirmButtonText: 'OK'
                                });
                            } else if (category == "error") {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Gagal!',
                                    text: '{{ message }}',
                                    confirmButtonText: 'OK'
                                });
                            }
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            }


            const tahun = {{ tahun | tojson }};
            const presentase_penduduk_miskin = {{ presentase_penduduk_miskin | tojson }};

            console.log('Data Tahun:', tahun);
            console.log('Data Presentase Penduduk Miskin:', presentase_penduduk_miskin);

            const ctx = document.getElementById('kemiskinanChart').getContext('2d');
            const kemiskinanChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tahun,
                    datasets: [{
                        label: 'Persentase',
                        data: presentase_penduduk_miskin,
                        borderColor: 'rgba(255, 152, 0, 1)',
                        backgroundColor: '#FF9800',
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Presentase Penduduk Miskin (%)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Tahun'
                            }
                        }
                    }
                }
            });

            const bubbleIcon = document.getElementById("bubble-icon")
            const chatRoom = document.getElementById("chat-room")
            const closeChat = document.getElementById("close-chat")

            bubbleIcon.onclick = function () {
                chatRoom.classList.toggle("hidden-chat")
            }

            function sendMessage() {
                const chatBody = document.getElementById("chat-body")
                const userInput = document.getElementById("chat-input").value
                if (userInput) {
                    const userMessage = document.createElement("p")
                    userMessage.classList.add("user-message")
                    userMessage.textContent = userInput
                    chatBody.appendChild(userMessage)

                    fetch("/send_message", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ message: userInput }),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            const botMessage = document.createElement("p")
                            botMessage.classList.add("chatbot-message")
                            botMessage.textContent = data.response
                            chatBody.appendChild(botMessage)

                            chatBody.scrollTop = chatBody.scrollHeight
                        })

                    document.getElementById("chat-input").value = ""
                }
            }

            closeChat.onclick = function () {
                chatRoom.classList.add("hidden")
            }
        </script>
    </body>
</html>
