<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>PovertyLens - Map Of Poor Areas</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/onlylogo-colorful.svg"
        />
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        {% include 'partials/navbar.html' %}

        <section
            class="w-full h-full flex justify-center items-center bg-gradient-to-b from-gray-400 to-white absolute top-0 px-4 sm:px-8 md:px-16 lg:px-20"
        >
            <div
                class="relative w-full max-w-[40rem] font-poppins group flex flex-col items-center py-10 sm:py-16 md:py-20"
            >
                <h1
                    class="text-black font-bold text-3xl sm:text-4xl md:text-5xl"
                >
                    Map Of Poor Areas with
                </h1>
                <h1
                    class="text-red-600 font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
                >
                    PovertyLens
                </h1>
                <p
                    class="text-black text-sm sm:text-base md:text-lg font-semibold text-center pt-4 sm:pt-5 md:pt-6"
                >
                    Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis
                    dan Mengatasi Tantangan Ekonomi, Mewujudkan Kehidupan yang
                    Lebih Baik bagi Semua.
                </p>

                <div class="pt-4 sm:pt-6 md:pt-8">
                    <a
                        href="{{ url_for('pindaiWilayah') }}"
                        class="flex items-center space-x-2 bg-gray-950 hover:bg-gray-900 px-6 sm:px-8 py-3 sm:py-4 rounded-full"
                    >
                        <h1
                            class="text-white text-sm sm:text-base font-semibold"
                        >
                            Pindai Wilayah
                        </h1>
                        <img
                            src="/static/images/iconpindai.svg"
                            class="h-5 w-5 sm:h-6 sm:w-6"
                        />
                    </a>
                </div>
            </div>
        </section>

        <section
            class="justify-center text-left px-40 bg-gradient-to-b from-gray-200 to-white font-poppins"
        ></section>

        <section
            class="flex justify-center items-center text-left px-4 py-8 md:px-40 bg-gradient-to-b from-gray-200 to-white h-screen"
        >
            <div class="text-center w-full max-w-6xl">
                <h1 class="text-black font-bold text-3xl pt-4">
                    Persentase Penduduk Miskin
                </h1>
                <h1 class="text-red-400 font-bold text-3xl">Kota Tegal</h1>
                <div class="px-8 py-4">
                    <canvas id="kemiskinanChart" class="h-96 w-full"></canvas>
                </div>
            </div>
        </section>

        <section
            id="tentang-kami"
            class="py-[8rem] px-10 sm:px-20 md:px-40 bg-gradient-to-b from-gray-200 to-white font-poppins flex items-center justify-center"
        >
            <div class="flex flex-col md:flex-row items-center">
                <!-- Teks di kiri -->
                <div class="w-full md:w-1/2 pr-0 md:pr-10 mb-10 md:mb-0">
                    <img
                        src="/static/images/slum-area.jpg"
                        alt="About Us"
                        class="w-full h-auto rounded-lg shadow-2xl"
                    />
                </div>

                <div class="w-full md:w-1/2 pl-0 md:pl-10 text-left">
                    <h1 class="text-black text-4xl font-bold mb-5">
                        Tentang Kami
                    </h1>
                    <p class="text-gray-700 text-lg mb-5">
                        Poverty Lens adalah inisiatif pemetaan kemiskinan
                        berbasis teknologi yang bertujuan menganalisis dan
                        mengatasi tantangan ekonomi masyarakat kurang mampu.
                        Dengan menggunakan data terkini dan alat analitik
                        canggih, kami memberikan wawasan yang jelas mengenai
                        kondisi kemiskinan di berbagai wilayah untuk membantu
                        merancang strategi intervensi yang lebih efektif dan
                        tepat sasaran.
                    </p>

                    <div class="flex space-x-5">
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fab fa-facebook-f text-2xl"></i>
                        </a>
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fab fa-twitter text-2xl"></i>
                        </a>
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fab fa-instagram text-2xl"></i>
                        </a>
                        <a href="#" class="text-gray-700 hover:text-black">
                            <i class="fab fa-linkedin-in text-2xl"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="py-[8rem] px-10 sm:px-20 md:px-40 bg-gradient-to-b from-gray-200 to-white font-poppins flex items-center justify-center"
        >
            <div
                class="flex flex-col md:flex-row justify-between items-center w-full max-w-screen-lg mx-auto"
            >
                <div
                    class="w-full md:w-1/2 pr-0 md:pr-10 mb-10 md:mb-0 order-1 md:order-2"
                >
                    <img
                        src="/static/images/flow.png"
                        alt="Sistematis Fitur Pindai Wilayah"
                        class="w-full h-auto rounded-lg shadow-2xl"
                    />
                </div>

                <div
                    class="w-full md:w-1/2 text-left pl-0 md:pl-10 order-2 md:order-1 md:mr-10"
                >
                    <h1 class="text-black text-4xl font-bold mb-5">
                        Sistematis Fitur Pindai Wilayah
                    </h1>
                    <p class="text-gray-700 text-lg mb-5">
                        Fitur pindai wilayah di PovertyLens memberikan cara yang
                        efisien untuk menganalisis dan menentukan prioritas
                        bantuan di suatu wilayah berdasarkan data spasial yang
                        diambil dari peta interaktif.
                    </p>

                    <a
                        href="{{ url_for('pindaiWilayah') }}"
                        class="inline-block mt-6 px-6 py-2 bg-red-600 text-white font-semibold rounded-full hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600"
                    >
                        Coba sekarang!
                    </a>
                </div>
            </div>
        </section>

        <section
            id="komentar"
            class="py-[2rem] sm:py-[4rem] md:py-[8rem] px-10 sm:px-20 md:px-40 bg-gradient-to-b from-gray-200 to-white font-poppins flex items-center"
        >
            <div
                class="flex flex-col md:flex-row justify-center items-center w-full max-w-screen-xl mx-auto"
            >
                <div class="w-full md:w-1/2 text-left mb-8 md:mb-0 md:mr-10">
                    <h1 class="text-black font-bold text-2xl mb-4">
                        Komentar Pengguna
                    </h1>
                    <p class="text-gray-700 text-lg mb-6">
                        Kami sangat menghargai setiap pendapat dan masukan yang
                        Anda berikan. Dengan berbagi pengalaman atau saran, Anda
                        turut berperan dalam membantu kami untuk terus
                        meningkatkan layanan dan mencapai tujuan kami dalam
                        memberikan manfaat yang lebih besar untuk masyarakat.
                    </p>
                    <p class="text-gray-600 text-base mb-8">
                        Apakah Anda memiliki pengalaman yang ingin dibagikan?
                        Atau mungkin ada saran untuk kami agar bisa lebih baik
                        lagi? Kami ingin mendengar suara Anda!
                    </p>
                </div>

                <div class="w-full md:w-1/2">
                    <form
                        action="{{ url_for('add_ulasan') }}"
                        method="POST"
                        class="w-full max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md"
                    >
                        <label
                            for="email"
                            class="block text-sm font-semibold text-gray-700"
                            >Email</label
                        >
                        <input
                            id="email"
                            name="email"
                            type="email"
                            required
                            class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600"
                            placeholder="Masukkan email Anda"
                        />

                        <label
                            for="ulasan"
                            class="block mt-4 text-sm font-semibold text-gray-700"
                            >Komentar</label
                        >
                        <textarea
                            id="ulasan"
                            name="ulasan"
                            required
                            rows="4"
                            class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-600"
                            placeholder="Tulis komentar Anda"
                        ></textarea>

                        <button
                            type="submit"
                            class="w-full mt-6 py-2 bg-orange-500 text-white font-semibold rounded-full hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-red-600"
                        >
                            Kirim Komentar
                        </button>
                    </form>
                </div>
            </div>
        </section>

        {% include 'partials/footer.html' %}
        <!-- Chat Room -->
        <!-- <div id="chat-room" class="chat-room hidden-chat">
            <div class="chat-header">
                <h3>Chat dengan Kami</h3>
                <button id="close-chat" class="close-btn">X</button>
            </div>
            <div class="chat-body" id="chat-body">
                <p class="chatbot-message">
                    Selamat datang di PovertyLens! Ada yang bisa kami bantu?
                </p>
            </div>
            <div class="chat-footer">
                <input
                    type="text"
                    id="chat-input"
                    placeholder="Ketik pesan..."
                />
                <button onclick="sendMessage()">Kirim</button>
            </div>
        </div> -->

        <div id="bubble-icon" class="bubble-icon">
            <img src="/static/images/robot.png" alt="Chat" />
        </div>

        <!-- Chat Room -->
        <div id="chat-room" class="chat-room hidden-chat">
            <div
                class="chat-header bg-orange-600 text-white p-3 rounded-t-lg flex justify-between items-center"
            >
                <h3>Chat dengan Kami</h3>
            </div>
            <div class="chat-body" id="chat-body">
                <p
                    class="chatbot-message bg-gradient-to-r from-orange-500 to-yellow-500 text-white p-2 mb-2 rounded-lg max-w-[80%]"
                >
                    Selamat datang di PovertyLens! Ada yang bisa kami bantu?
                </p>
            </div>
            <div class="chat-footer">
                <input
                    type="text"
                    id="chat-input"
                    placeholder="Ketik pesan..."
                />
                <button onclick="sendMessage()">Kirim</button>
            </div>
        </div>

        <script>
            document
                .getElementById("bubble-icon")
                .addEventListener("click", function () {
                    var chatRoom = document.getElementById("chat-room")
                    chatRoom.classList.toggle("hidden-chat")
                })
            document
                .getElementById("chat-input")
                .addEventListener("keypress", function (e) {
                    if (e.key === "Enter") {
                        sendMessage()
                    }
                })

            document
                .getElementById("close-chat")
                .addEventListener("click", function () {
                    document.getElementById("chat-room").classList.add("hidden")
                })

            function sendMessage() {
                const chatBody = document.getElementById("chat-body")
                const userInput = document.getElementById("chat-input").value

                if (userInput) {
                    const userDiv = document.createElement("div")
                    userDiv.className = "flex justify-end"
                    userDiv.innerHTML = `
                        <div class="bg-gradient-to-r from-neutral-400 to-stone-300 text-black p-3 rounded-lg max-w-[80%]">
                            ${userInput}
                        </div>
                    `
                    chatBody.appendChild(userDiv)

                    fetch(
                        `/send_message?msg=${encodeURIComponent(userInput)}`,
                        {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        },
                    )
                        .then((response) => response.text())
                        .then((data) => {
                            const botDiv = document.createElement("div")
                            botDiv.className = "flex justify-start"
                            botDiv.innerHTML = `
                            <div class="bg-gradient-to-r from-orange-500 to-yellow-500 text-white p-3 rounded-lg max-w-[80%]">
                                ${data}
                            </div>
                        `
                            chatBody.appendChild(botDiv)
                            chatBody.scrollTop = chatBody.scrollHeight
                        })
                        .catch((error) => {
                            console.error("Error:", error)
                            const errorDiv = document.createElement("div")
                            errorDiv.className = "flex justify-start"
                            errorDiv.innerHTML = `
                            <div class="bg-red-100 text-red-600 p-3 rounded-lg max-w-[80%]">
                                Maaf, terjadi kesalahan. Silakan coba lagi.
                            </div>
                        `
                            chatBody.appendChild(errorDiv)
                        })

                    document.getElementById("chat-input").value = ""
                }
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            window.onload = function() {
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            if (category == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Berhasil!',
                                    text: '{{ message }}',
                                    confirmButtonText: 'OK'
                                });
                            } else if (category == "error") {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Gagal!',
                                    text: '{{ message }}',
                                    confirmButtonText: 'OK'
                                });
                            }
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            }


            const tahun = {{ tahun | tojson }};
            const presentase_penduduk_miskin = {{ presentase_penduduk_miskin | tojson }};

            console.log('Data Tahun:', tahun);
            console.log('Data Presentase Penduduk Miskin:', presentase_penduduk_miskin);

            const ctx = document.getElementById('kemiskinanChart').getContext('2d');
            const kemiskinanChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: tahun,
                    datasets: [{
                        label: 'Persentase',
                        data: presentase_penduduk_miskin,
                        borderColor: 'rgba(255, 152, 0, 1)',
                        backgroundColor: '#FF9800',
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Presentase Penduduk Miskin (%)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Tahun'
                            }
                        }
                    }
                }
            });






            // function sendMessage() {
            //     const chatBody = document.getElementById("chat-body")
            //     const userInput = document.getElementById("chat-input").value
            //     if (userInput) {
            //         const userMessage = document.createElement("p")
            //         userMessage.classList.add("user-message")
            //         userMessage.textContent = userInput
            //         chatBody.appendChild(userMessage)

            //         fetch("/send_message", {
            //             method: "POST",
            //             headers: {
            //                 "Content-Type": "application/json",
            //             },
            //             body: JSON.stringify({ message: userInput }),
            //         })
            //             .then((response) => response.json())
            //             .then((data) => {
            //                 const botMessage = document.createElement("p")
            //                 botMessage.classList.add("chatbot-message")
            //                 botMessage.textContent = data.response
            //                 chatBody.appendChild(botMessage)

            //                 chatBody.scrollTop = chatBody.scrollHeight
            //             })

            //         document.getElementById("chat-input").value = ""
            //     }
            // }
        </script>
    </body>
</html>
