<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pindai Wilayah - PovertyLens</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/static/images/onlylogo-colorful.svg"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet-image@0.4.1/leaflet-image.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

        <style>
            #mapid {
                width: 100%;
                height: 300px;
                border-radius: 8px;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 768px) {
                #mapid {
                    height: 200px;
                }
            }
        </style>
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <!-- Pindai Wilayah -->
        <section class="p-6 bg-white px-6 px-4 sm:px-10 lg:px-20 pt-20">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 pt-5">
                <div class="p-6 rounded-lg border border-black">
                    <div id="mapid" class=""></div>
                    <div id="previewContainerMessage" class="mt-4"></div>
                    <div class="flex items-center mt-4 justify-between">
                        <div class="flex items-center flex-col sm:flex-row">
                            <button
                                id="captureButton"
                                class="text-white px-4 py-2 rounded"
                                style="
                                    background-color: #000000;
                                    font-size: 14px;
                                    font-weight: 500;
                                "
                            >
                                Capture Map
                            </button>
                        </div>

                        <div class="flex items-center gap-3">
                            <button
                                id="previewCaptureButton"
                                class="text-white px-4 py-2 rounded"
                                style="
                                    background-color: #1e90ff;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-right: 5px;
                                "
                            >
                                Preview
                            </button>
                            <button
                                id="resetCaptureButton"
                                class="bg-red-200 text-white px-4 py-2 rounded"
                                style="
                                    background-color: #dc143c;
                                    font-size: 14px;
                                    font-weight: 500;
                                "
                            >
                                Reset
                            </button>
                        </div>
                    </div>

                    <div id="previewContainer" class="mt-4"></div>

                    <div class="mb-4 relative">
                        <label
                            for="koordinat"
                            class="block text-sm font-medium text-gray-700"
                        >
                            Koordinat
                        </label>
                        <div class="flex items-center">
                            <input
                                type="text"
                                id="koordinat"
                                class="mt-1 block w-full border border-gray-300 rounded-md p-2 pr-10"
                                placeholder="Koordinat"
                                readonly
                            />
                        </div>
                    </div>

                    <div class="mt-4">
                        <label
                            for="kelurahanDisplay"
                            class="block text-sm font-medium text-gray-700"
                            >Kelurahan</label
                        >
                        <input
                            type="text"
                            id="kelurahanDisplay"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            placeholder="Kelurahan"
                            readonly
                        />
                    </div>

                    <div class="mb-4">
                        <label
                            for="bantuan"
                            class="block text-sm font-medium text-gray-700"
                            >Bantuan yang Dibutuhkan</label
                        >
                        <input
                            type="text"
                            id="bantuan"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            placeholder="Bantuan yang dibutuhkan"
                        />
                    </div>

                    <div class="mb-4">
                        <label
                            for="laporan"
                            class="block text-sm font-medium text-gray-700"
                            >Laporan anda(Opsional)</label
                        >
                        <textarea
                            id="laporan"
                            class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                            rows="3"
                            placeholder="Tuliskan laporan Anda..."
                        ></textarea>
                    </div>
                    <button
                        id="submitButton"
                        class="bg-black text-white px-4 py-2 rounded mt-4"
                    >
                        Submit
                    </button>
                </div>

                <div
                    id="answeringSection"
                    class="rounded-lg border-gray-300 p-6 border border-black"
                >
                    <h2 class="text-xl font-bold mb-4 text-center">
                        Answering
                    </h2>
                    <div id="answeringContainer">
                        <div id="resultImgProcessing"></div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="w-full bg-black text-white font-poppins py-10 mt-10">
            <div class="container mx-auto flex flex-col items-center px-4">
                <!-- Footer Description -->
                <p class="text-sm mb-6 text-center">
                    Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis
                    dan Mengatasi Tantangan Ekonomi.
                </p>

                <!-- Link Section (Horizontal) -->
                <div class="flex space-x-6 mb-4 justify-center">
                    <a
                        href="#tentang-kami"
                        class="text-white hover:text-red-400"
                        >Tentang Kami</a
                    >
                    <a href="#" class="text-white hover:text-red-400"
                        >Kebijakan Privasi</a
                    >
                    <a href="#" class="text-white hover:text-red-400">Kontak</a>
                </div>

                <!-- Social Media Icons Section -->
                <div class="flex space-x-4 justify-center mb-4">
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-facebook-f h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-twitter h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-instagram h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-linkedin-in h-6 w-6"></i>
                    </a>
                </div>

                <!-- Copyright -->
                <p class="text-xs mt-6 text-center">
                    &copy; 2024 PovertyLens. All rights reserved.
                </p>
            </div>
        </footer>

        <script>
            var map = L.map("mapid", {
                zoomControl: false,
                scrollWheelZoom: false,
                dragging: true,
                doubleClickZoom: false,
            }).setView([-6.858944, 109.147861], 16)

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution:
                    'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                maxZoom: 18,
            }).addTo(map)

            var southWest = L.latLng(-6.8985, 109.0741)
            var northEast = L.latLng(-6.8441, 109.1616)
            var bounds = L.latLngBounds(southWest, northEast)

            map.setMaxBounds(bounds)

            map.on("drag", function () {
                map.panInsideBounds(bounds, { animate: true })
            })

            document.getElementById("captureButton").onclick =
                async function () {
                    var previewContainerMessage = document.getElementById(
                        "previewContainerMessage",
                    )
                    previewContainerMessage.innerHTML = ""

                    captureButton.innerHTML =
                        'Loading... <span class="spinner"></span>'

                    var center = map.getCenter()
                    var centerLat = center.lat
                    var centerLng = center.lng

                    document.getElementById("koordinat").value =
                        centerLat + ", " + centerLng

                    try {
                        const response = await fetch(
                            `https://nominatim.openstreetmap.org/reverse?format=json&lat=${centerLat}&lon=${centerLng}`,
                        )
                        const data = await response.json()

                        const kelurahan =
                            data.address.suburb ||
                            data.address.village ||
                            "Tidak ditemukan"

                        console.log("Kelurahan:", kelurahan)

                        var kelurahanInput =
                            document.getElementById("kelurahanDisplay")
                        kelurahanInput.value = kelurahan

                        const kelurahanLowercase =
                            kelurahanInput.value.toLowerCase()

                        const populasiResponse = await fetch(
                            `/get_populasi?kelurahan=${kelurahanLowercase}`,
                        )
                        const populasiData = await populasiResponse.json()
                        if (populasiData.error) {
                            alert(populasiData.error)
                            return
                        }

                        const populasi = populasiData.populasi
                        console.log("Populasi kelurahan:", populasi)
                    } catch (error) {
                        console.error("Gagal mengambil kelurahan:", error)
                    }

                    html2canvas(document.getElementById("mapid"), {
                        useCORS: true,
                    })
                        .then(function (canvas) {
                            var imgData = canvas.toDataURL("image/png")

                            var previewContainer =
                                document.getElementById("previewContainer")
                            previewContainer.dataset.image = imgData

                            var captureButton =
                                document.getElementById("captureButton")
                            captureButton.textContent = "✔️Tersimpan"

                            console.log("Capture berhasil:", imgData)
                        })
                        .catch(function (error) {
                            console.error("Gagal capture peta:", error)
                        })
                }

            document.getElementById("previewCaptureButton").onclick =
                function () {
                    var previewContainer =
                        document.getElementById("previewContainer")
                    var imgData = previewContainer.dataset.image
                    var previewContainerMessage = document.getElementById(
                        "previewContainerMessage",
                    )

                    if (previewContainer.innerHTML) {
                        previewContainer.innerHTML = ""
                        previewContainerMessage.innerHTML = ""
                    } else {
                        if (imgData && imgData.startsWith("data:image/png")) {
                            var previewImage = document.createElement("img")
                            previewImage.src = imgData
                            previewImage.style.maxWidth = "100%"
                            previewImage.style.border = "1px solid #ddd"
                            previewImage.style.borderRadius = "8px"
                            previewImage.style.marginTop = "10px"

                            previewContainer.appendChild(previewImage)
                        } else {
                            previewContainerMessage.innerHTML =
                                "<p style='color: red;'>Belum ada hasil capture yang tersimpan.</p>"
                        }
                    }
                }

            document.getElementById("resetCaptureButton").onclick =
                function () {
                    var previewContainer =
                        document.getElementById("previewContainer")
                    previewContainer.innerHTML = ""
                    delete previewContainer.dataset.image

                    var koordinatInput = document.getElementById("koordinat")
                    koordinatInput.value = ""

                    var kelurahanInput =
                        document.getElementById("kelurahanDisplay")
                    kelurahanInput.value = ""

                    var bantuanInput = document.getElementById("bantuan")
                    bantuanInput.value = ""

                    var laporanInput = document.getElementById("laporan")
                    laporanInput.value = ""

                    var captureButton = document.getElementById("captureButton")
                    captureButton.textContent = "Capture Map"

                    console.log("Reset berhasil")
                }

            document.getElementById("submitButton").onclick =
                async function () {
                    const previewContainer =
                        document.getElementById("previewContainer")
                    const image = previewContainer.dataset.image

                    if (!image) {
                        alert("Tidak ada gambar untuk diproses.")
                        return
                    }

                    const response = await fetch("/process", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        body: new URLSearchParams({ image: image }),
                    })

                    const result = await response.json()
                    const resultContainer = document.getElementById(
                        "resultImgProcessing",
                    )
                    resultContainer.innerHTML = ""

                    console.log(result)

                    if (result.error) {
                        resultContainer.innerHTML = `<p style="color: red;">Error: ${result.error}</p>`
                    } else {
                        const overlayImage = document.createElement("img")
                        overlayImage.src =
                            "data:image/png;base64," + result.overlay_image
                        overlayImage.style.width = "100%"
                        overlayImage.style.maxWidth = "100%"
                        overlayImage.style.marginBottom = "20px"

                        resultContainer.appendChild(overlayImage)

                        console.log(result.percentages)

                        const builtUpPercentage = result.percentages
                            ? result.percentages["Lahan Terbangun"]
                            : 0

                        if (
                            isNaN(builtUpPercentage) ||
                            builtUpPercentage === 0
                        ) {
                            resultContainer.innerHTML =
                                "<p style='color: red;'>Persentase lahan terbangun tidak valid.</p>"
                            return
                        }

                        const divWidthPx =
                            document.getElementById("mapid").offsetWidth
                        const divHeightPx =
                            document.getElementById("mapid").offsetHeight
                        const scale = 10
                        const divWidthMeters = divWidthPx * scale
                        const divHeightMeters = divHeightPx * scale
                        const totalAreaMeters = divWidthMeters * divHeightMeters
                        const totalAreaKm2 = totalAreaMeters / 1000000
                        const builtUpAreaKm2 =
                            (builtUpPercentage / 100) * totalAreaKm2
                        const resultArea = document.createElement("p")
                        resultArea.innerHTML = `Luas Wilayah: ${totalAreaKm2.toFixed(
                            2,
                        )} km²<br>Luas Lahan Terbangun: ${builtUpAreaKm2.toFixed(
                            2,
                        )} km²`
                        resultContainer.appendChild(resultArea)

                        const kelurahanName = document
                            .getElementById("kelurahanDisplay")
                            .value.toLowerCase()
                        const populasiResponse = await fetch(
                            `/get_populasi?kelurahan=${kelurahanName}`,
                        )
                        const populasiData = await populasiResponse.json()

                        if (populasiData.error) {
                            alert(populasiData.error)
                            return
                        }

                        const populasi = populasiData.populasi
                        console.log("Populasi kelurahan:", populasi)

                        const kepadatanPenduduk = populasi / totalAreaKm2

                        const statusKepadatan =
                            kepadatanPenduduk > 1000 ? "Padat" : "Tidak Padat"

                        const kepadatanPendudukBulatan =
                            Math.round(kepadatanPenduduk)

                        const kepadatanResult = document.createElement("p")
                        kepadatanResult.textContent = `Kepadatan Penduduk: ${kepadatanPendudukBulatan} orang/km² - Wilayah ini teridentifikasi ${statusKepadatan} Penduduk.`
                        resultContainer.appendChild(kepadatanResult)

                        // const percentageList = document.createElement("ul")
                        // percentageList.style.listStyleType = "none"
                        // percentageList.style.padding = "0"

                        // for (const [category, percentage] of Object.entries(
                        //     result.percentages,
                        // )) {
                        //     const listItem = document.createElement("li")
                        //     listItem.textContent = `${category}: ${percentage.toFixed(
                        //         2,
                        //     )}%`
                        //     listItem.style.marginBottom = "5px"
                        //     percentageList.appendChild(listItem)
                        // }

                        // resultContainer.appendChild(percentageList)
                    }
                    const answeringSection =
                        document.getElementById("answeringSection")
                    answeringSection.scrollIntoView({ behavior: "smooth" })
                }
        </script>
    </body>
</html>
