<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            href="{{ url_for('static', filename='css/output.css') }}"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>PovertyLens - Map Of Poor Areas</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='images/onlylogo-colorful.svg') }}"
        />
    </head>

    <body>
        {% include 'partials/navbar.html'%}
        <section class="p-6 bg-white px-4 sm:px-10 lg:px-20 pt-20">
            <div class="px-4 sm:px-10 lg:px-20 pt-5">
                <h1 class="font-bold text-2xl pt-6">Rekap Data</h1>
                <h1>Terakhir Diperbarui : 25 Januari 2024</h1>

                <div class="flex flex-wrap sm:flex-nowrap justify-between mt-4">
                    <button
                        id="dropdownButton"
                        class="focus:outline-none text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-4 sm:mb-0 flex items-center"
                        type="button"
                    >
                        <span id="dropdownText">{{ selected_range }}</span>
                        <svg
                            class="w-2.5 h-2.5 ms-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 4 4 4-4"
                            />
                        </svg>
                    </button>

                    <!-- Menu Dropdown -->
                    <div
                        id="dropdownMenu"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-auto dark:bg-gray-700 absolute mt-12 sm:mt-0"
                    >
                        <ul
                            class="py-2 text-sm text-gray-700 dark:text-gray-200"
                        >
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2021-2023"
                                    >2021-2023</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2018-2020"
                                    >2018-2020</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2015-2017"
                                    >2015-2017</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2011-2013"
                                    >2011-2013</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2008-2010"
                                    >2008-2010</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2005-2007"
                                    >2005-2007</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="block px-4 py-2 text-center"
                                    data-value="2002-2004"
                                    >2002-2004</a
                                >
                            </li>
                        </ul>
                    </div>

                    <button
                        id="downloadButton"
                        type="button"
                        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-4 sm:mb-0 flex items-center"
                    >
                        <span>Unduh Data</span>
                        <img
                            src="{{ url_for('static', filename='images/download.svg') }}"
                            class="h-5 ml-2"
                            alt="Download"
                        />
                    </button>
                </div>

                <h1 class="mt-4 text-2xl">
                    Kemiskinan,
                    <span id="selectedYearRange">{{ selected_range }}</span>
                </h1>

                <div class="container mx-auto p-2 mt-2">
                    <div
                        class="overflow-x-auto mt-5 border border-gray-300 rounded-xl bg-white shadow-lg"
                    >
                        <table
                            id="dataTable"
                            class="w-full text-sm text-left text-gray-800"
                        >
                            <thead
                                class="text-xs text-gray-900 uppercase bg-[#FF9800] text-white"
                            >
                                <tr>
                                    <th class="px-6 py-3 border-b">Tahun</th>
                                    <th class="px-6 py-3 border-b">
                                        Garis Kemiskinan
                                    </th>
                                    <th class="px-6 py-3 border-b">
                                        Jumlah Penduduk Miskin
                                    </th>
                                    <th class="px-6 py-3 border-b">
                                        Persentase Penduduk Miskin
                                    </th>
                                    <th class="px-6 py-3 border-b">
                                        Indeks Kedalaman Kemiskinan
                                    </th>
                                    <th class="px-6 py-3 border-b">
                                        Indeks Keparahan Kemiskinan
                                    </th>
                                    <th class="px-6 py-3 border-b">
                                        Gini Rasio
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <footer class="w-full bg-black text-white font-poppins py-10 mt-10">
            <div class="container mx-auto flex flex-col items-center px-4">
                <!-- Footer Description -->
                <p class="text-sm mb-6 text-center">
                    Pemetaan Kemiskinan Berbasis Teknologi untuk Menganalisis
                    dan Mengatasi Tantangan Ekonomi.
                </p>

                <!-- Link Section (Horizontal) -->
                <div class="flex space-x-6 mb-4 justify-center">
                    <a
                        href="#tentang-kami"
                        class="text-white hover:text-red-400"
                        >Tentang Kami</a
                    >
                    <a href="#" class="text-white hover:text-red-400"
                        >Kebijakan Privasi</a
                    >
                    <a href="#" class="text-white hover:text-red-400">Kontak</a>
                </div>

                <!-- Social Media Icons Section -->
                <div class="flex space-x-4 justify-center mb-4">
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-facebook-f h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-twitter h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-instagram h-6 w-6"></i>
                    </a>
                    <a href="#" class="text-white hover:text-red-400">
                        <i class="fab fa-linkedin-in h-6 w-6"></i>
                    </a>
                </div>

                <!-- Copyright -->
                <p class="text-xs mt-6 text-center">
                    &copy; 2024 PovertyLens. All rights reserved.
                </p>
            </div>
        </footer>

        <script>
            document
                .getElementById("dropdownButton")
                .addEventListener("click", function () {
                    dropdownMenu.classList.toggle("hidden")
                })

            const menuItems = dropdownMenu.querySelectorAll("a")
            menuItems.forEach((item) => {
                item.addEventListener("click", function () {
                    dropdownText.textContent = item.getAttribute("data-value")
                    dropdownMenu.classList.add("hidden")

                    const selectedRange = item.getAttribute("data-value")

                    document.getElementById("selectedYearRange").textContent =
                        selectedRange
                    dropdownMenu.classList.add("hidden")
                    updateTableData(selectedRange)
                })
            })

            function updateTableData(selectedRange) {
                fetch(`/rekap-data-ajax?tahun=${selectedRange}`)
                    .then((response) => response.json())
                    .then((data) => {
                        const tableBody =
                            document.querySelector("#dataTable tbody")
                        tableBody.innerHTML = ""

                        if (data.length > 0) {
                            data.forEach((row) => {
                                const rowElement = document.createElement("tr")
                                rowElement.innerHTML = `
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.tahun}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.garis_kemiskinan}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.jumlah_penduduk_miskin}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.presentase_penduduk_miskin}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.indeks_kedalaman_kemiskinan}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.indeks_keparahan_kemiskinan}</td>
                        <td class="px-6 py-4 border border-gray-300 text-center">${row.gini_rasio}</td>
                    `
                                tableBody.appendChild(rowElement)
                            })
                        } else {
                            tableBody.innerHTML =
                                '<tr><td colspan="7" class="px-6 py-4 text-center">No data available for this selection.</td></tr>'
                        }
                    })
                    .catch((error) =>
                        console.error("Error fetching data:", error),
                    )
            }

            updateTableData("2021-2023")

            document
                .getElementById("downloadButton")
                .addEventListener("click", function () {
                    const selectedRange = dropdownText.textContent.trim()
                    downloadCSV(selectedRange)
                })

            function downloadCSV(selectedRange) {
                const url = `/download-csv?tahun=${selectedRange}`
                window.location.href = url
            }
        </script>
    </body>
</html>
